body{
    background-color: red;
}
header, main, footer{
    width: 900px;
    background-color: white;
    margin:0 auto;
    padding: 50px;
    font-size: 36px;
}
/*Header style starts*/
header{
    padding-right: 0;
    width: 950px;
}

header, main{
    border-bottom: black 5px solid;
}

header h1{
    font-family:"Zapfino";
    font-size: 48px;
    text-align: center;
    color: red;
    line-height: 74px;
    
}



#logo{
    float: left;
}

#title-container{
    margin-left: 200px;
}
nav ul{
    text-align: right;
}


nav ul li{
    display: inline-block;
    background-color:red;
    padding: 12px;
    color: white;
    margin-top: 25px;
    text-transform: uppercase;
    font-family: Arial;
}
nav li:hover{
    background-color: coral;
}
nav ul li a {
    text-decoration: none;
    
}
nav ul li a:link{
    color: white;
}

nav ul li a:visited{
    color: white;
}

nav ul li a:hover{
    text-decoration: none;
    }

nav ul li a:active{
    color: yellow;
}

/*Header style ends*/

/*Footer styles starts*/
footer {
    font-family: "Arial";
    color: red;
    line-height: 48px;
}


#copyright{
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
}
#social-links ul{
text-align: center;
margin-bottom: 20px;
}
#social-links ul li{
    display: inline-block;
    border: solid 1px red;
    border-radius: 10px;
    padding: 0px;
    
}
#social-links ul li a{
padding: 8px;
display: block;
}
#social-links ul li:hover{
    color: white;
    background-color: red;
}

#social-links ul li a:link{
    text-decoration: none;
    color: red;
    line-height: 50px;

}
#social-links ul li a:visited{
    color: red;
}

#social-links ul li a:hover{
    color: white;
    background-color: red;
}


/*Footer styles end*/
/* Main Default Styles Start*/

main {
    font-family: "Arial";
    color: red;
}
main h1 {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
}
main p {
    font-size: 24px;
}
/*Main Default Styles End*/